<header class="header sticky-header sticky">
    <div class="header__container">
        <div class="header__left">
            <a href="/" aria-label="Home">
                <img
                    width="100"
                    height="60"
                    loading="lazy"
                    src="{{' brand-logo.svg ' | asset_url }}"
                    alt="Company logo"
                />
            </a>
        </div>
        <div class="header__center">
            <ul class="header__links">
                {% for link in linklists['main-menu'].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="header__right">
            <form action="/search">
                <input class="header__search hidden" placeholder="Search our products" type="search"/>
            </form>
            <div class="header__icons">
                <a href="" aria-label="Search">
                    <img
                        width="23"
                        height="23"
                        loading="lazy"
                        src="{{' icon-search.svg ' | asset_url }}"
                        alt="Search Icon"
                    />
                </a>
                <a href="/account" aria-label="Account">
                    <img
                        width="23"
                        height="23"
                        loading="lazy"
                        src="{{' icon-user.svg ' | asset_url }}"
                        alt="User Icon"
                    />
                </a>
                <a href="/cart" aria-label="Cart" class="header__icons-cart">
                    <img
                        width="23"
                        height="23"
                        loading="lazy"
                        src="{{' icon-cart.svg ' | asset_url }}"
                        alt="Cart Icon"
                    />
                    <span class="cart-counter">2</span>
                </a>
            </div>
        </div>
    </div>
</header>

<script>
    let lastScrollTop = 0;

    window.addEventListener("scroll", function() {

        let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

        if (currentScroll > lastScrollTop) {
            document.querySelector(".sticky-header").classList.remove("sticky");
        } else {
            document.querySelector(".sticky-header").classList.add("sticky");
        }

        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    }, false);
</script>