<link rel="stylesheet" href="{{ 'newsletter.scss' | asset_url }}">

<div class="newsletter-signup">
    {% form 'customer' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter">
            <h3>{{ section.settings.newsletterTitle }}</h3>
            <p>{{ section.settings.newsletterDescription }}</p>
            <div class="newsletter-container">
                <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="newsletter-email__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="subscribe today"
                    required
                >
                <button
                    type="submit"
                    class="newsletter-submit"
                    name="commit"
                    id="Subscribe"
                    aria-label="subscribe to newsletter"
                >
                    Subscribe
                </button>
            </div>
        </div>
        {%- if form.posted_successfully? -%}
            <p class="newsletter-success">Thank you for subscribing</p>
        {%- endif -%}
    {% endform %}
</div>
