<div class="wrapper">

  <div class="account-centered">
    <div class="page-content">
      <div>

        <div class="section-header">
          <h1>{{ 'customer.activate_account.title' | t }}</h1>
          <p>{{ 'customer.activate_account.subtext' | t }}</p>
        </div>
   
        <div class="form-vertical">
          {% form 'activate_customer_password', class: 'line-form' %}

            {{ form.errors | default_errors }}

            <input required type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">
            <input required type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
            
            <div class="form-bottom-area">
              <button type="submit" class="btn">
                <span>{{ 'customer.activate_account.submit' | t }}</span>
              </button>
              <div>
                <button type="submit" class="btn btn-trans" name="decline">
                  <span>{{ 'customer.activate_account.cancel' | t }}</span>
                </button>
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>

</div>