<link rel="stylesheet" href="{{ 'faq-stylesheet.scss' | asset_url }}">

<div class="faq">
  <h3 class="faq-header">{{ section.settings.faq_title }}</h3>

  <div class="faq-container">
    {% for block in section.blocks %}
      <div class="faq-tab">
        <button class="faq-question">
          <h6 class="faq-question__title">{{ block.settings.question }}</h6>
          <img
            class="faq-question__chevron"
            width="20"
            height="20"
            loading="lazy"
            src="{{' down-chevron.svg ' | asset_url }}"
            alt="Chevron" />
        </button>
        <div class="faq-answer">{{ block.settings.answer }}</div>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "FAQ",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "text",
        "id": "faq_title",
        "default": "Questions and Answers",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "FAQ Item",
        "type": "faq",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Do you have a question?"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>I have an answer</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Block"
      }
    ]
  }
{% endschema %}

<script>
  const faqToggles = document.querySelectorAll('.faq-question');
  const faqTab = document.querySelectorAll('.faq-tab');

  faqToggles?.forEach((toggle) => {
    toggle.addEventListener('click', () => {
        const isOpen = toggle.parentElement.classList.contains('isOpen');

        faqTab?.forEach((tab) => {
            tab.classList.remove('isOpen');
        });

        if (!isOpen) {
            toggle.parentElement.classList?.toggle('isOpen');
        }
    });
  })
</script>