<link rel="stylesheet" href="{{ 'faq-stylesheet.scss' | asset_url }}" media="print" onload="this.media='all'">

<h3> I'm an faq pge</h3>
<div class="page-width page-width--narrow">
  <div class="faq-container">
    <div class="tabs">
    	{% for block in section.blocks %}
      		{% assign item = block.settings %}
      		<div class="tab">
      			<input type="checkbox" id="faq_checkbox_{{ forloop.index }}" class="faq-checkbox">
        		<label for="faq_checkbox_{{ forloop.index }}" class="tab-label button button--primary">{{ item.question }}</label>
        		<div class="tab-content">{{ item.answer }}</div>
      		</div>
      	{% endfor %}
    </div>
  </div>
</div>

<h3> I'm an faq pge</h3>


{% schema %}
    {
        "name": "FAQ",
        "tag": "section",
        "class": "spaced-section",
        "settings": [
            {
                "type": "text",
                "id": "faq_title",
                "default": "Questions and Answers",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "faq_description",
                "default": "Questions and Answers",
                "label": "Description"
            }
        ],
        "blocks": [
            {
                "name": "FAQ Item",
                "type": "faq",
                "settings": [
                    {
                        "type": "text",
                        "id": "question",
                        "label": "Question",
                        "default": "Do you have a question?"
                    },
                    {
                        "type": "richtext",
                        "id": "answer",
                        "label": "Answer",
                        "default": "<p>I have an answer</p>"
                    }
                ]
            }
        ],
        "presets": [
            { "name": "FAQ Block" }
        ]
    }
{% endschema %}
